@property --background-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #0b1416;
}

@property --color-green-main {
    syntax: "<color>";
    inherits: false;
    initial-value: #A5DD9B;
}

@property --color-sage-secondary {
    syntax: "<color>";
    inherits: false;
    initial-value: #C5EBAA;
}

@property --color-yellow-third {
    syntax: "<color>";
    inherits: false;
    initial-value: #F6F193;
}

@property --color-peach-fourth {
    syntax: "<color>";
    inherits: false;
    initial-value: #F2C18D;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    background-color: var(--background-color);
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    height: 1150px;
}

.header-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: var(--color-green-main) solid;
}

.content-container {
    margin-top: 10px;
}

.recipe-container {
    margin-top: 50px;
    display: flex;
}

.recipe-image {
    object-fit: cover;
    border-radius: 15px;
    object-position: 0 100%;
    width: 400px;
    height: 400px;
}

.ingredients-recipe-separator {
    border-bottom: var(--color-sage-secondary) solid;
}

.recipe-separator {
    margin-top: 20px;
    border-bottom: var(--color-peach-fourth) solid;
}

.recipe-description {
    padding-left: 50px;
    padding-right: 50px;
}

h1, h2, h3, h4, h5, p, ul, li {
    font-family: verdana, serif;
    color: #F2F2F2;
}