@property --background-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #222b2c;
}

@property --color-green-main {
    syntax: "<color>";
    inherits: false;
    initial-value: #b1f9a6;
}

@property --color-sage-secondary {
    syntax: "<color>";
    inherits: false;
    initial-value: #d6e9c9;
}

@property --color-yellow-third {
    syntax: "<color>";
    inherits: false;
    initial-value: #F6F193;
}

@property --color-peach-fourth {
    syntax: "<color>";
    inherits: false;
    initial-value: #F2C18D;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}

.page-container {
    padding-left: .5%;
    padding-right: .5%;
    display: flex;
    flex-direction: column;
    height: 1150px;
}


@media screen and (min-width: 1000px)
{
    .page-container {
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        height: 1150px;
    }
}

.header-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.header-row{
    display: flex;
    flex-direction: row;
}

.content-container {
    margin-top: 10px;
}

.recipe-container {

    display: flex;
}

.recipe-image {
    object-fit: cover;
    border-radius: 15px;
    object-position: 0 100%;
    width: 400px;
    height: 400px;
}

.header-image {
    margin-top: 10px;
    margin-right: 20px;
    width: 45px;
    height: 45px;
    transition: transform 3s ease-in-out; 

}

.header-image:hover {
         transform: rotate(1800deg) scale(3);;

    }

.ingredients-recipe-separator {
    border-bottom: var(--color-sage-secondary) solid .01rem;
}

.recipe-separator {
    width: 100%;
    border-bottom: var(--color-peach-fourth) solid;
}

.recipe-description {
    width: 100%;

    padding-right: 50px;
}

h1, h2, h3, h4, h5, p, ul, li, a {
    font-family: verdana, serif;
    color: #F2F2F2;
}

